{% extends 'loan/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
  <h1 class="h3 mb-0 text-gray-800">Loan Category</h1>
  <span id='date-time' class="small"></span>
  </div>          

  <!-- Main Content Here -->
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-6">
          <img src="{% static 'img/add_cat.jpg' %}" class="rounded w-100" style="margin-top: 0%;"  alt="Category">
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Add Category!</h1>
            </div>
            <p class="small text-secondary text-center">
              Please Insert Category Of Loan Want To add.   
            </p>
           
            <form method="POST" autocomplete="off" >
              {%csrf_token%}
              <div class="form-group mt-5">
                <label for="course_name">Category Name</label>
                {% render_field categoryForm.category_name class="form-control rounded mt-3" placeholder="Home loan" %}
              </div>
              
            <br>
            <button type="submit" class="btn btn-success btn-block rounded">Add </button>
            </form>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
</div>

<script>
  var dt = new Date();
  document.getElementById('date-time').innerHTML=dt;
</script>
  
{% endblock content %}
