{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %} 

{% block content %}
<!-- Apply Area Start -->
<div class="apply-area pt-150 pb-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="apply-wrapper">
                    <!-- Form -->
                    <form method="POST">
                        {% csrf_token %}
                        {{form }}
                        <input type="submit" value="Submit">
                    </form>
                    <!-- End From -->
                    <!-- Form btn -->
                    <a href="#" class="btn apply-btn mt-30">APPLY NOW </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Apply Area End -->
{% endblock content %}