{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %} 

{% block content %}
    <!-- Begin Page Content -->
     <!-- Begin Page Content -->
     <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
          <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          <span id='date-time' class="small"></span>
          

        </div>          

        <!-- Main Content Here -->
      
        <div class="col-md-6 col-xl-3">
          <div class="card bg-danger order-card">
              <div class="card-body">
                  <h6 class="text-white">Total Clients</h6>
                  <h2 class="text-right text-white"><i class="fa fa-users icon-repeat float-left"></i><span>{{user.id}}</span></h2>
                  <p class="m-b-0"><span class="float-right"></span></p>
                  
              </div>
          </div>
      </div>
     List Of Loan Applied 
   
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->
  <script>
    var dt = new Date();
    document.getElementById('date-time').innerHTML=dt;
</script>

    
    <!-- /.container-fluid -->
{% endblock content %}
