{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %} 

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4 p-5 mt-5 ">
    <div class="col-md-4 col-sm-8 col-6">
      <div class="card ">
        <img src="{% static 'img/loan/home.jpg' %}" class="card-img-top " alt="Home Loan">
        <div class="card-body">
          <h5 class="card-title">Home Loan</h5>
          <p class="card-text">
            Buying a house is a dream for many and involves a lot of financial planning. Bank Home Loans makes it simpler for those who want to realise this dream.                             
            </p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted text-center"><a class="btn btn-primary" href="#" role="button">Apply For Home Loan</a></small>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-8 col-6">
        <div class="card ">
          <img src="{% static 'img/loan/car.jpg' %}" class="card-img-top w-100 h-100 mt-5" alt="Home Loan">
          <div class="card-body mt-5">
            <h5 class="card-title mt-3">Car Loan</h5>
            <p class="card-text">
              Buying a house is a dream for many and involves a lot of financial planning. Bank Home Loans makes it simpler for those who want to realise this dream.                             
              </p>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted text-center"><a class="btn btn-primary" href="#" role="button">Apply For Car Loan</a></small>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-8 col-6">
        <div class="card ">
          <img src="{% static 'img/loan/personal.jpg' %}" class="card-img-top  " alt="Home Loan">
          <div class="card-body">
            <h5 class="card-title">Personal Loan</h5>
            <p class="card-text">
              Buying a house is a dream for many and involves a lot of financial planning. Bank Home Loans makes it simpler for those who want to realise this dream.                             
              </p>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted text-center"><a class="btn btn-primary" href="#" role="button">Apply For Personal Loan</a></small>
          </div>
        </div>
      </div>
  </div>
{% endblock content %}
